.resetPassword-card {
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    margin-top: 200px;
    margin-left:  702px;
    width:  500px;
    height:  560px;
    align-items: center;
    position: fixed;   
}
